<div h2 *ngIf="sl.index === 0" id="atCenter">
    <h2>
        Olá! <br>
        Seja Bem vindo(a) a uma <br>
        galáxia muito,
        muito distante...
    </h2>
</div>

<div *ngIf="sl.index === 1">
    <h2>Meu Portfolio Web</h2>
</div>

<div *ngIf="sl.index === 2">
    <h2>Carreira</h2>
    <hr>
    <ul>
        <li>
            <p> Empresa: Flex </p>
        </li>
        <li>
            <p> Cargo: Estagiário </p>
        </li>
        <li>
            <p>Conhecimentos desenvolvidos: </p>
        </li>
        <ol>
            <li>
                <p> SOX/SOD</p>
            </li>
            <li>
                <p> Unix</p>
            </li>
            <li>
                <p> Oracle: queries SQL</p>
            </li>
            <li>
                <p> Macros, Excel</p>
            </li>
        </ol>
    </ul>
</div>

<div *ngIf="sl.index === 3">
    <h2>Carreira</h2>
    <hr>
    <ul>
        <li>
            <p> Empresa: Fit (atual) </p>
        </li>
        <li>
            <p> Cargo: Assistente de Tecnologia </p>
        </li>
        <li>
            <p>Conhecimentos desenvolvidos: </p>
        </li>
        <ol>
            <li>
                <p> C/C++ em embarcados</p>
            </li>
            <li>
                <p> Python</p>
            </li>
            <li>
                <p> Amazon Cloud Services (AWS) </p>
            </li>
        </ol>
    </ul>
</div>


<div  *ngIf="sl.index === 4">
    <h2>Conhecimentos Técnicos</h2>
    <hr>
    <ul>
        <li>
            <p>- Banco de Dados Relacional (Oracle, MySQL, SQL Server)</p>
        </li>
        <li>
            <p>- Linux/Unix</p>
        </li>
        <li>
            <p>- POO: Java, Python, C#, Kotlin</p>
        </li>
        <li>
            <p>- C/C++ </p>
        </li>
        <li>
            <p>- HTML5, CSS3, Angular</p>
        </li>
        <li>
            <p>- Ingles intermediário</p>
        </li>
        <li>
            <p>- Excel avançado</p>
        </li>
    </ul>
</div>

<div *ngIf="sl.index === 5">
    <h2>Contatos</h2>
    <hr>
    <h3>Para mais informações:</h3>
    <ul>
        <li>
            <p><a href="https://github.com/gtorres17">Github</a></p>
        </li>
        <li>
            <p>
                <a href="linkedin.com/in/gabriel-guimarães-a3218615b">
                LinkedIn</a>
            </p>
        </li>
        <li>
            <p>gtguimaraes99@outlook.com</p>
        </li>
    </ul>
</div>



